<!DOCTYPE html>

<html><head>
    <title>Scrum of Scrums</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <script src="/assets/javascript/require.js"></script>
    <script>
        require.config({
            baseUrl:'/assets/javascript'
        });
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/assets/javascript/main.js"></script>
</head><body><div class="container">
    <h1>Scrum of Scrums</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <h2 class="panel-heading panel-title">Let's do it!</h2>
                <div class="panel-body">
                    <button type="button" class="btn btn-danger" id="start">Trigger Scrum of Scrums NOW!</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <h2 class="panel-heading panel-title">Join us!</h2>
                <div class="panel-body">
                    <a href="assets/sosapp.apk">Download "Scrum of Scrums" Android App</a>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="display:none;" id="soshint">
            <div class="panel panel-warning">
                <h2 class="panel-heading panel-title">Scrum of Scrums has been triggered!</h2>
                <div class="panel-body">
                    Better go to the meeting NOW!
                </div>
            </div>
        </div>
    </div>
</container></body></html>
